body{
    background-color: #a200fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
p{
    color: #e7e7e7;
    font-size: 16px;
}
li{
    color: #e7e7e7;
    font-size: 16px;
}